<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

        const url = "http://localhost:9000";
        let loginRespData;

        async function login() {

            try {

                var loginUrl = url + "/login";
                var user = { name: "sachin", password: "t_sachin" }
                const loginResp = await fetch(loginUrl, {
                    method: "post",
                    body: JSON.stringify(user),
                    headers: { "Content-Type": "application/json" }
                });
                loginRespData = await loginResp.json();
                console.log(loginRespData);



            } catch (err) {
                console.log("Error", err);
            }
        }
        login();







        async function getProducts() {

            try {
                var productsUrl = url + "/products";
                const resp = await fetch(productsUrl, {
                    headers: {
                        Authorization: "Bearer " + loginRespData.accessToken
                    }
                });
                const data = await resp.json();
                console.log(data);
            }
            catch (err) {

                console.log("Error", err.status);

            }
        }
        async function invokeTask() {

            try {
                var url = "http://localhost:9000/task";
                const resp = await fetch(url);
                const data = await resp.json();
                console.log(data);
            } catch (err) {
                console.log("Error", err);
            }
        }
        //getProducts();


    </script>

</head>

<body>
    <h2>Node Express Application</h2>

    <p>
        {{message}}
    </p>

    <div>
        <button onclick="getProducts();">Load Products</button>
    </div>
    <div>
        <button onclick="invokeTask();">Invoke Task</button>
    </div>
</body>

</html>